<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <jsp-file>/ingreso.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Empresa</servlet-name>
        <jsp-file>/empresa.jsp</jsp-file>
    </servlet>
        <servlet>
        <servlet-name>Contacto</servlet-name>
        <jsp-file>/contacto.jsp</jsp-file>
    </servlet>
        <servlet>
        <servlet-name>Registro</servlet-name>
        <jsp-file>/nuevo-usuario.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>net.ifts16.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedeServlet</servlet-name>
        <servlet-class>net.ifts16.controller.SedeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutomovilServlet</servlet-name>
        <servlet-class>net.ifts16.controller.AutomovilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaServlet</servlet-name>
        <servlet-class>net.ifts16.controller.ReservaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeloServlet</servlet-name>
        <servlet-class>net.ifts16.controller.ModeloServlet</servlet-class>
    </servlet>
    
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedeServlet</servlet-name>
        <url-pattern>/Sede</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutomovilServlet</servlet-name>
        <url-pattern>/Automoviles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeloServlet</servlet-name>
        <url-pattern>/Modelo</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ReservaServlet</servlet-name>
        <url-pattern>/Reserva</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>Empresa</servlet-name>
        <url-pattern>/Empresa</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>Contacto</servlet-name>
        <url-pattern>/Contacto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <security-role>
        <role-name>client</role-name>
    </security-role>
    
    <env-entry>
        <env-entry-name>JdbcUrl</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>jdbc:mysql://localhost:3306/master_car_rental_system/</env-entry-value>
    </env-entry>
</web-app>
